# Table of contents

* [Preprocessing](#Preprocessing)
    + [Missing Value Handling](#Missing-Value-Handling)
    + [Remove duplicates](#Remove-duplicates)
    + [Outlier Handling](#Outlier-Handling)
* [Analyze](#Analyze)
    + [1. 서울시 자치구별 학원, 교습소 수](#1.-서울시-자치구별-학원,-교습소-수)
    + [2. 서울시 자치구별 학원, 교습소 정원 수(온라인, 원격 학원/교습소 포함)](#2.-서울시-자치구별-학원,-교습소-정원-수(온라인,-원격-학원/교습소-포함))
    + [3. 서울시 학군별 학원/교습소 & 학교 수](#3.-서울시-학군별-학원/교습소-&-학교-수)
    + [4. 서울시 학군별 학원/교습소 학생 수 & 학교 학생 수](#4.서울시-학군별-학교-학생-수-&-학원/교습소-학생-수)
* [Visualize](#Visualize)
    + [1. 서울시 자치구별 학원, 교습소 수 시각화](#1.-서울시-자치구별-학원,-교습소-수-시각화)
    + [2. 서울시 학군별 학원/교습소 & 학교 수 시각화](#2.-서울시-학군별-학원/교습소-&-학교-수-시각화)
    + [3. 학군별 학원/교습소 학생 수(온라인, 원격 제외) & 학교 학생 수 시각화](#3.-학군별-학원/교습소-학생-수(온라인,-원격-제외)-&-학교-학생-수-시각화)

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import folium

%matplotlib inline
plt.rc('font', family='malgun gothic')
plt.rc('axes', unicode_minus=False)

ModuleNotFoundError: No module named 'folium'

### Import Data

In [4]:
# Main Data
academy = pd.read_csv('./data/서울특별시 학원 교습소정보.csv')
school = pd.read_csv('./data/서울특별시 학교 기본정보.csv')
school_cnt = pd.read_excel('./data/2021 서울시 학급당 학생수 통계.xlsx') # 외부데이터
# 전처리 한 데이터를 시트별로 통합 / 그 중 '학원교습소정보'와 '학교기본정보' 시트 사용
df = pd.read_excel('./data/helloworld_data_set.xlsx', sheet_name=['학원교습소정보', '학교기본정보'] )
locals().update(df)

### Preprocessing
전처리 수행(결측값 처리, 중복값 처리, 이상치 처리 등)

academy.head()

In [5]:
# Dtype 확인
academy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25606 entries, 0 to 25605
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정구역명       25537 non-null  object
 1   학원/교습소      25606 non-null  object
 2   학원명         25606 non-null  object
 3   도로명주소       25594 non-null  object
 4   도로명상세주소     25509 non-null  object
 5   분야명         25606 non-null  object
 6   교습계열명       25159 non-null  object
 7   교습과정명       25161 non-null  object
 8   정원합계        25606 non-null  int64
 9   일시수용능력인원합계  25528 non-null  float64
 10  인당수강료내용     4608 non-null   object
 11  기숙사학원여부     23677 non-null  object
 12  등록일자        25606 non-null  int64
 13  휴원시작일자      353 non-null    float64
 14  휴원종료일자      353 non-null    float64
 15  개설일자        25606 non-null  int64
dtypes: float64(3), int64(3), object(10)
memory usage: 3.1+ MB

In [6]:
# 열별 결측치 개수 확인
academy.isnull().sum()

행정구역명            69
학원/교습소            0
학원명               0
도로명주소            12
도로명상세주소          97
분야명               0
교습계열명           447
교습과정명           445
정원합계              0
일시수용능력인원합계       78
인당수강료내용       20998
기숙사학원여부        1929
등록일자              0
휴원시작일자        25253
휴원종료일자        25253
개설일자              0
dtype: int64

### Missing Value Handling

In [7]:
# 도로명상세주소 + 도로명주소 + 교습계열명 + 교습과정명 + 일시수용능력인원합계 결측치 포함 행 제거
academy = academy.dropna(subset=['도로명상세주소', '교습계열명', '일시수용능력인원합계'])

In [8]:
academy['행정구역명'] = academy['행정구역명'].fillna(academy['도로명주소'].str.split(' ').str[1])
academy['인당수강료내용'] = academy['인당수강료내용'].fillna('알수없음')
academy['기숙사학원여부'] = academy['기숙사학원여부'].fillna('알수없음')
academy['휴원시작일자'] = academy['휴원시작일자'].fillna(0)
academy['휴원종료일자'] = academy['휴원종료일자'].fillna(0)

In [9]:
# '서울특별시마포구'같이 띄어쓰기가 안 되어 있는 데이터가 있어 '서울특별시'를 제거하고 앞의 공백을 제거
academy['도로명주소'] = academy['도로명주소'].str.replace('서울특별시', '')
academy['도로명주소'].str.lstrip().tolist()

['동대문구 왕산로33길 32',
 '동대문구 고산자로36길 3',
 '동대문구 이문로 38',
 '동대문구 왕산로 31',
 '중랑구 동일로151길 30',
 '중랑구 공릉로 58',
 '중랑구 동일로101길 52',
 '동대문구 한천로 124',
 '동대문구 사가정로 190',
 '동대문구 천호대로16길 12',
 '중랑구 동일로129길 54',
 '동대문구 장한로30길 31',
 '동대문구 답십리로72길 118',
 '중랑구 겸재로3길 22',
 '동대문구 이문로1길 16-3',
 '동대문구 이문로1길 16-3',
 '동대문구 천호대로77길 89',
 '동대문구 황물로 42',
 '동대문구 답십리로23길 59',
 '중랑구 면목로48길 49',
 '동대문구 한천로 165',
 '중랑구 용마산로 389',
 '동대문구 하정로 36',
 '동대문구 홍릉로15길 43',
 '중랑구 면목로 306',
 '동대문구 이문로 65',
 '중랑구 동일로140길 16',
 '동대문구 휘경로 39',
 '중랑구 동일로129길 22',
 '중랑구 용마산로 478',
 '중랑구 면목로27길 6',
 '중랑구 용마산로 436',
 '동대문구 답십리로 133',
 '중랑구 용마산로116길 22',
 '동대문구 답십리로66길 99',
 '중랑구 봉화산로56길 153',
 '중랑구 면목로27길 6',
 '중랑구 봉우재로 211',
 '중랑구 용마산로94길 47',
 '중랑구 면목로48길 65',
 '동대문구 제기로38길 50',
 '중랑구 봉우재로5길 4',
 '동대문구 한천로 481',
 '동대문구 천호대로77길 94',
 '동대문구 왕산로 249-1',
 '동대문구 사가정로 93',
 '중랑구 신내로7가길 19',
 '동대문구 답십리로72길 112',
 '중랑구 중랑역로 79',
 '동대문구 제기로 131',
 '동대문구 제기로 131',
 '동대문구 한천로 246',
 '중랑구 봉화산로53길19',
 '중랑구 신내로 71',
 '중랑구 면목로55길 28',
 '중랑구 동일로140길 15',
 '동대문구 전농로 60',
 '동대문구 답십리로 224-1',
 '중랑구 면목로 376',
 '중랑구 공릉로2길 31',
 '중랑구 동일로 814',
 '중랑구 공릉로2길 7',
 '중랑구 봉화산로 194',
 '동대문구 경희대로4길 79',
 '중랑구 신내로7가길 35',
 '동대문구 사가정로 148',
 '동대문구 사가정로 148',
 '동대문구 답십리로56길 21',
 '동대문구 답십리로69길 8',
 '동대문구 서울시립대로4길 35',
 '동대문구 회기로8길 42',
 '동대문구 사가정로 148',
 '동대문구 왕산로43나길 20',
 '중랑구 봉화산로 190',
 '동대문구 한천로58길 47',
 '중랑구 용마산로116길 22',
 '동대문구 답십리로 238',
 '동대문구 무학로42길 45',
 '동대문구 한천로 97',
 '동대문구 약령시로 16',
 '중랑구 면목로31길 26',
 '동대문구 한천로46가길 6',
 '동대문구 장한로28길 14',
 '중랑구 망우로 505',
 '서대문구 신촌로 117',
 '마포구 신촌로 176',
 '마포구 와우산로 100',
 '마포구 월드컵로25길 98',
 '마포구 와우산로 91',
 '마포구 동교로19길 48',
 '마포구 대흥로 180',
 '서대문구 세무서길 83',
 '은평구 서오릉로 152',
 '은평구 은평로16길 4',
 '서대문구 증가로10길 60-22',
 '은평구 증산로15길 70',
 '은평구 갈현로3가길 5',
 '서대문구 세무서길 31',
 '서대문구 연희로 174',
 '서대문구 모래내로 379',
 '은평구 연서로4길 20',
 '은평구 서오릉로10길 21',
 '은평구 통일로 752-21',
 '서대문구 응암로 28',
 '서대문구 모래내로 346',
 '마포구 망원로 56',
 '은평구 통일로69길 16',
 '마포구 망원로 57',
 '은평구 증산로3길 8-16',
 '서대문구 북아현로 55',
 '서대문구 응암로 57',
 '마포구 독막로22길 13',
 '은평구 연서로41길 3',
 '은평구 불광로 124',
 '은평구 서오릉로15길 6',
 '은평구 연서로11길 20-4',
 '마포구 대흥로30길 6-8',
 '서대문구 거북골로14길 5',
 '서대문구 독립문로 64',
 '서대문구 세검정로1길 93',
 '마포구 성미산로 39',
 '은평구 갈현로 291-1',
 '은평구 가좌로 280',
 '서대문구 연희로36길 10',
 '마포구 와우산로 114',
 '서대문구 통일로 157-6',
 '마포구 와우산로 124',
 '은평구 연서로18길 14-1',
 '은평구 응암로12길 30',
 '은평구 서오릉로21길 11',
 '서대문구 응암로 140',
 '마포구 월드컵북로 210',
 '마포구 동교로25길 15',
 '마포구 대흥로 36',
 '은평구 가좌로 179',
 '마포구 서강로 133',
 '서대문구 응암로 47',
 '서대문구 북아현로4길 2',
 '은평구 진흥로 160',
 '서대문구 홍은중앙로 94',
 '마포구 방울내로 41',
 '마포구 양화로 183',
 '은평구 연서로41길 15',
 '은평구 증산로7길 16',
 '은평구 서오릉로 110',
 '마포구 큰우물로 53',
 '서대문구 충정로7길 30',
 '서대문구 신촌로 121',
 '서대문구 신촌로 113',
 '은평구 갈현로12길 17-1',
 '마포구 와우산로 151',
 '마포구 만리재로 133',
 '마포구 월드컵로 85',
 '은평구 가좌로 180',
 '마포구 월드컵북로7길 8',
 '은평구 연서로3길 10',
 '은평구 진흥로1길 36',
 '마포구 새터산16길 15',
 '서대문구 세검정로 94-1',
 '은평구 은평로 157',
 '마포구 양화로 156',
 '마포구 와우산로 110',
 '서대문구 거북골로 5',
 '마포구 월드컵북로 224',
 '서대문구 증가로12나길 101',
 '서대문구 세검정로1길 95',
 '은평구 증산서길 64-14',
 '마포구 만리재옛길 62',
 '마포구 월드컵북로 86',
 '서대문구 통일로25길 30',
 '마포구 잔다리로7안길 23',
 '마포구 마포대로18길 12',
 '은평구 서오릉로 159',
 '마포구 연희로 7',
 '은평구 은평터널로 164',
 '은평구 연서로29길 24',
 '마포구 와우산로 155-1',
 '은평구 증산서길 88',
 '서대문구 독립문공원길 13',
 '서대문구 홍은중앙로 116',
 '서대문구 가좌로 84-1',
 '마포구 백범로 1',
 '서대문구 북아현로22길 53',
 '은평구 불광로 116',
 '서대문구 이화여대길 50-12',
 '은평구 증산서길 75',
 '서대문구 세검정로 85',
 '은평구 증산로 403-1',
 '서대문구 세검정로 93',
 '서대문구 이화여대8길 62',
 '마포구 서강로 122',
 '서대문구 증가로 193',
 '마포구 망원로3길 13',
 '마포구 백범로37길 16',
 '은평구 백련산로 165',
 '서대문구 신촌로 197',
 '은평구 불광로 114',
 '마포구 독막로 268',
 '마포구 만리재로 20-1',
 '은평구 역말로 110',
 '서대문구 통일로34길 28-6',
 '은평구 은평로 208',
 '서대문구 연희로22길 3',
 '서대문구 통일로 420',
 '은평구 은평로3길 20',
 '마포구 와우산로 122',
 '마포구 토정로17길 25',
 '서대문구 거북골로 191',
 '서대문구 연희로 159',
 '마포구 동교로 188-1',
 '은평구 은평로 228',
 '은평구 연서로 156',
 '서대문구 가좌로 140',
 '서대문구 가좌로 110',
 '은평구 연서로27길 25-1',
 '서대문구 연희로 192',
 '서대문구 세검정로1길 51',
 '은평구 통일로 780',
 '마포구 굴레방로9길 2',
 '마포구 성암로 91',
 '마포구 백범로 68-1',
 '마포구 월드컵북로 230',
 '은평구 증산서길 63',
 '은평구 연서로 131',
 '서대문구 통일로34길 15',
 '마포구 새창로 52',
 '마포구 신촌로 128',
 '서대문구 독립문공원길 13',
 '마포구 노고산동 57-1',
 '은평구 응암로 229',
 '은평구 가좌로 211-1',
 '마포구 와우산로 112',
 '영등포구 영등포로 216-1',
 '영등포구 시흥대로 671',
 '구로구 구로중앙로27가길 5-2',
 '금천구 범안로 1188',
 '금천구 시흥대로146길 14',
 '구로구 도림로 31-1',
 '영등포구 경인로 875-1',
 '금천구 시흥대로45길 39',
 '구로구 구로중앙로34길 36',
 '구로구 개봉로17길 41',
 '금천구 독산로74길 19',
 '영등포구 여의대방로 45',
 '구로구 개봉로17라길 25',
 '구로구 경서로 9',
 '영등포구 국회대로29길 3',
 '금천구 독산로 126',
 '구로구 구로중앙로14길 24',
 '영등포구 신길로 172',
 '구로구 오류로8길 34',
 '영등포구 도신로4길 17',
 '구로구 서해안로 2098',
 '영등포구 영신로 29',
 '영등포구 양산로 186',
 '구로구 신도림로11길 8',
 '구로구 개봉로3길 82',
 '금천구 금하로24길 44',
 '영등포구 경인로 886',
 '구로구 신도림로 18',
 '영등포구 선유동2로 46',
 '구로구 구로동로22길 89',
 '금천구 독산로50길 74',
 '영등포구 대림로31길 40',
 '구로구 구일로8길 92',
 '영등포구 대림로 203',
 '영등포구 도신로60길 8-1',
 '금천구 금하로 692',
 '영등포구 경인로 872',
 '영등포구 문래로20길 14',
 '영등포구 당산로31길 19',
 '영등포구 여의대방로 55',
 '금천구 시흥대로20길 13',
 '영등포구 도영로22길 38',
 '영등포구 당산로41길 23',
 '금천구 독산로35길 33',
 '영등포구 문래로4길 4',
 '금천구 금하로 755',
 '영등포구 국제금융로7길 3',
 '구로구 구로중앙로7길 28',
 '영등포구 당산로44길 3',
 '구로구 구일로4길 46',
 '금천구 시흥대로146길 18',
 '영등포구 경인로71길 6',
 '구로구 경인로47길 82',
 '영등포구 대방천로 187-1',
 '구로구 구일로4길 30',
 '구로구 구일로4길30',
 '구로구 경인로47길 134?',
 '영등포구 신길로42라길 1',
 '금천구 독산로 86',
 '금천구 남부순환로128길 45',
 '영등포구 대림로29나길 6',
 '금천구 독산로75길 25',
 '구로구 도림로 90',
 '구로구 구일로10길 53',
 '영등포구 여의대방로7길 13?',
 '금천구 시흥대로150길 21-12',
 '영등포구 당산로 67',
 '영등포구 국제금융로 78',
 '영등포구 국회대로 750',
 '구로구 경인로31길 98',
 '금천구 시흥대로30길 12',
 '구로구 신도림로9길 20',
 '구로구 구로동로42길 56',
 '금천구 시흥대로94길 72?',
 '영등포구 국제금융로 78',
 '영등포구 가마산로 354',
 '영등포구 가마산로61나길 13',
 '구로구 고척로 154',
 '구로구 고척로 82',
 '구로구 경인로47다길 4',
 '영등포구 도신로53길 16',
 '구로구 개봉로3길 41',
 '구로구 경인로 338',
 '영등포구 도림로 353',
 '구로구 고척로 149',
 '금천구 탑골로 23-1',
 '금천구 독산로 246',
 '영등포구 영중로 43',
 '구로구 구로중앙로28길 31',
 '구로구 도림로 69',
 '영등포구 선유로 85-7',
 '영등포구 여의대방로43라길 6',
 '구로구 경인로19길 29',
 '구로구 고척로3길 3',
 '영등포구 영등포로12길 11',
 '영등포구 여의대방로43라길 6',
 '금천구 금하로 773',
 '영등포구 영등포로 225',
 '구로구 개봉로3길 60',
 '구로구 경인로 382?',
 '구로구 경인로 382',
 '영등포구 당산로 82',
 '구로구 신도림로 16',
 '영등포구 국회대로53길 23',
 '영등포구 신길로16길 11',
 '영등포구 당산로42길 16',
 '구로구 고척로 108',
 '금천구 시흥대로41길 3',
 '구로구 공원로 27',
 '영등포구 여의대방로 89',
 '구로구 중앙로15길 125?',
 '구로구 고척로52길21',
 '구로구 새말로 83',
 '금천구 독산로50길 89',
 '구로구 개봉로20길 6',
 '구로구 개봉로17길 17',
 '영등포구 영신로57길 1',
 '영등포구 영중로 43',
 '영등포구 신풍로12길 10',
 '금천구 독산로 286',
 '영등포구 영등포로 118',
 '영등포구 당산로 163',
 '영등포구 선유로53길 34-14',
 '구로구 신도림로 16',
 '영등포구 여의대방로65길 12',
 '구로구 신도림로 16',
 '금천구 독산로 110-1',
 '영등포구 도신로 143',
 '영등포구 가마산로61다길 5',
 '구로구 디지털로27길 89',
 '영등포구 국제금융로 108',
 '금천구 은행나무로 18',
 '영등포구 대방천로 175',
 '노원구 동일로227길 26',
 '도봉구 방학로10길 12',
 '도봉구 도당로27길 59',
 '노원구 동일로 1368',
 '노원구 동일로 1393',
 '노원구 중계로8길 11',
 '노원구 섬밭로 209',
 '노원구 동일로227길 26',
 '노원구 동일로216길 70',
 '노원구 섬밭로 209',
 '노원구 동일로 1456',
 '노원구 한글비석로 460',
 '도봉구 도봉로104길 75',
 '노원구 덕릉로 459-47',
 '도봉구 노해로65길 7-12',
 '노원구 동일로 1354',
 '노원구 섬밭로 232',
 '노원구 동일로228길 29',
 '노원구 한글비석로 474',
 '도봉구 도봉로131길 90',
 '노원구 한글비석로 474',
 '노원구 노원로 547',
 '도봉구 방학로 223',
 '노원구 동일로228길 29',
 '도봉구 방학로 223',
 '노원구 동일로 1384',
 '노원구 한글비석로 227',
 '도봉구 방학로6길 20-23',
 '노원구 동일로 1551',
 '노원구 노원로34길 102',
 '노원구 동일로 1528',
 '도봉구 덕릉로63가길 22',
 '노원구 한글비석로 265',
 '노원구 상계로1길 74',
 '도봉구 노해로70길 46',
 '노원구 노원로34길 92',
 '도봉구 해등로16길 66',
 '노원구 노원로 540',
 '도봉구 시루봉로15길 6',
 '노원구 한글비석로48길 25',
 '노원구 동일로 1026',
 '도봉구 도봉로169가길 10',
 '도봉구 도봉로180나길 41',
 '노원구 동일로207길 23',
 '도봉구 해등로4길 9',
 '도봉구 노해로65길 11',
 '도봉구 해등로4길 9',
 '도봉구 노해로65길 17',
 '노원구 노해로 488',
 '노원구 동일로 1335',
 '도봉구 도당로 133',
 '도봉구 노해로60길 86',
 '노원구 초안산로 19',
 '노원구 동일로230길 31',
 '노원구 중계로 198',
 '도봉구 해등로 218',
 '노원구 상계로 108',
 '노원구 한글비석로 254',
 '도봉구 우이천로 333',
 '도봉구 도봉로136길 7',
 '노원구 중계로 201',
 '노원구 한글비석로 232',
 '노원구 동일로230길 31',
 '노원구 공릉로41길 15',
 '도봉구 도당로 133',
 '노원구 노원로22길 77',
 '노원구 동일로 1366',
 '도봉구 시루봉로 219',
 '노원구 한글비석로 263',
 '도봉구 방학로 176',
 '도봉구 도봉로129길 45',
 '노원구 노원로 257',
 '노원구 공릉로63길 13',
 '도봉구 덕릉로59아길 30',
 '노원구 동일로237길 46',
 '도봉구 덕릉로63가길 61',
 '노원구 동일로192길 37',
 '도봉구 방학로 166',
 '노원구 동일로 1532',
 '도봉구 노해로 389',
 '노원구 동일로217길 58',
 '도봉구 우이천로20길 7',
 '노원구 동일로 1545',
 '도봉구 해등로26길 7',
 '도봉구 마들로 555',
 '노원구 동일로 1396',
 '노원구 동일로191길 15',
 '노원구 중계로 218',
 '노원구 상계로 51',
 '노원구 누원로 20',
 '도봉구 덕릉로 240',
 '도봉구 노해로 395',
 '노원구 노원로 460',
 '도봉구 방학로 184',
 '도봉구 도봉로109길 52',
 '노원구 동일로207길 184',
 '노원구 한글비석로 271',
 '노원구 동일로218길 17',
 '노원구 한글비석로 269',
 '노원구 공릉로 146',
 '노원구 중계로 218',
 '노원구 중계로 217',
 '노원구 공릉로46길 3',
 '노원구 노해로 492',
 '노원구 중계로12가길 29',
 '노원구 동일로242마길 6',
 '노원구 중계로 217',
 '도봉구 도봉로125길 72',
 '노원구 덕릉로 744',
 '노원구 한글비석로 269',
 '노원구 중계로 217',
 '노원구 공릉로34길 62',
 '노원구 중계로 225',
 '노원구 덕릉로73길 28',
 '노원구 공릉로39길 22-1',
 '노원구 한글비석로15길 19',
 '노원구 석계로1길 22',
 '노원구 덕릉로118길 29',
 '노원구 동일로192길 77',
 '노원구 중계로 197',
 '노원구 공릉로58길 176',
 '노원구 노해로 501',
 '노원구 한글비석로 359',
 '노원구 한글비석로 271',
 '노원구 중계로18길 13',
 '도봉구 해등로 189',
 '노원구 상계로 193-25',
 '노원구 노원로 254',
 '노원구 동일로230가길 10',
 '노원구 중계로 217',
 '노원구 동일로 1550',
 '노원구 한글비석로 264',
 '도봉구 삼양로144길 9',
 '노원구 공릉로34길 34',
 '도봉구 시루봉로 56',
 '노원구 노원로1길 9',
 '노원구 노원로 468',
 '노원구 한글비석로 242',
 '노원구 한글비석로 272',
 '노원구 한글비석로 273',
 '노원구 노원로34길 76',
 '노원구 석계로 49',
 '도봉구 도봉로 527',
 '노원구 동일로192길 77',
 '노원구 공릉로46길 6',
 '도봉구 도당로 7',
 '노원구 한글비석로 231',
 '노원구 섬밭로 139',
 '노원구 한글비석로 253',
 '도봉구 도봉로104길 75',
 '노원구 동일로232길 27',
 '노원구 덕릉로 459-37',
 '노원구 화랑로51길 38',
 '도봉구 해등로25길 32',
 '도봉구 마들로 624',
 '노원구 공릉로 154-8',
 '노원구 한글비석로 276',
 '도봉구 마들로 624',
 '노원구 동일로 1335',
 '노원구 덕릉로60길 182',
 '노원구 한글비석로 272',
 '노원구 한글비석로 242',
 '도봉구 덕릉로60길 90',
 '노원구 수락산로 234',
 '도봉구 도봉로150다길 64',
 '도봉구 해등로16길 60',
 '노원구 노원로34길 62',
 '종로구 돈화문로9길 32',
 '중구 남대문로10길 6',
 '종로구 종로 65',
 '종로구 종로 405',
 '중구 퇴계로10길 29',
 '종로구 종로 123?',
 '용산구 한강대로 375',
 '종로구 수표로 108',
 '종로구 종로 393-1',
 '용산구 한강대로 397',
 '중구 다산로36가길 16',
 '종로구 종로 383',
 '중구 퇴계로86길 100',
 '용산구 보광로 30',
 '용산구 우사단로 2-1',
 '용산구 신흥로 72',
 '용산구 한강대로81길 26',
 '종로구 창경궁로 240-7',
 '용산구 새창로20길 9',
 '종로구 창경궁로 247',
 '용산구 두텁바위로1길 105',
 '중구 다산로42나길 31',
 '중구 다산로 104',
 '중구 청구로14길 41',
 '용산구 만리재로 134',
 '용산구 효창원로94길 3',
 '용산구 원효로 189-3',
 '중구 서애로 27',
 '종로구 창경궁로29길 25',
 '종로구 수표로 96',
 '종로구 이화장1길 12',
 '종로구 자하문로 219',
 '용산구 한강대로 328',
 '중구 퇴계로 209',
 '종로구 동호로 408',
 '용산구 한강대로 283',
 '종로구 종로 120',
 '종로구 삼봉로 95',
 '종로구 삼일대로 395',
 '중구 동호로10길 30',
 '용산구 효창원로 218',
 '종로구 진흥로 490',
 '종로구 통일로 246-10',
 '종로구 수표로 96',
 '중구 서소문로 115',
 '중구 동호로10길 30',
 '중구 소공로 88',
 '중구 동호로11길 29',
 '중구 세종대로20길 15',
 '용산구 원효로 51',
 '용산구 원효로 51',
 '중구 다산로 85',
 '종로구 통일로 246-20?',
 '종로구 세검정로9길 59',
 '중구 동호로7길 45',
 '용산구 새창로 70',
 '종로구 삼일대로17길 16',
 '중구 다산로 32',
 '중구 동호로7길 41',
 '종로구 종로 223',
 '용산구 후암로 40-2',
 '종로구 종로12길 6',
 '용산구 이촌로 200',
 '강동구 양재대로 1371',
 '송파구 올림픽로35길 112',
 '강동구 상암로 12',
 '강동구 구천면로 440',
 '강동구 천호대로187길 59',
 '송파구 올림픽로35길 112',
 '송파구 오금로 432',
 '송파구 오금로 538',
 '강동구 양재대로 1329',
 '강동구 양재대로 1666',
 '강동구 천호대로187길 79',
 '송파구 올림픽로4길 40',
 '송파구 가락로11길 8',
 '강동구 명일로 263',
 '송파구 가락로28길 15',
 '송파구 올림픽로12길 54',
 '강동구 암사길 60',
 '강동구 풍성로 171',
 '송파구 가락로 176',
 '강동구 명일로 293',
 '송파구 오금로44길 50-22',
 '송파구 백제고분로28길 24',
 '송파구 가락로 82',
 '송파구 송파대로 567',
 '강동구 고덕로27길 28',
 '송파구 올림픽로35길 112',
 '강동구 상암로 210',
 '송파구 백제고분로48길 41',
 '강동구 동남로81길 44',
 '송파구 가락로 169',
 '강동구 고덕로 95',
 '강동구 상암로 210',
 '송파구 가락로11길 32',
 '송파구 백제고분로50길 26',
 '강동구 구천면로16길 33',
 '송파구 오금로40길 8',
 '송파구 동남로 272',
 '송파구 백제고분로40길 11',
 '강동구 동남로82길 115',
 '강동구 풍성로 107',
 '강동구 구천면로 668',
 '강동구 아리수로93길 9',
 '송파구 송파대로32길 8',
 '송파구 동남로20길 24',
 '강동구 동남로81길 20',
 '송파구 송이로 17길 40',
 '송파구 양재대로 1160',
 '강동구 양재대로 1335',
 '강동구 풍성로35길 41',
 '강동구 올림픽로100길 30',
 '강동구 동남로67길 45',
 '송파구 송이로14길 3',
 '강동구 천중로35길 27',
 '송파구 오금로 407',
 '송파구 오금로 407',
 '송파구 중대로 24',
 '송파구 송이로36길 55-1',
 '강동구 동남로81길 72',
 '송파구 위례성대로20길 32',
 '송파구 중대로 24',
 '송파구 양재대로 1222',
 '송파구 가락로 168',
 '강동구 양재대로98길 43',
 '강동구 양재대로 1335',
 '송파구 오금로57길 8',
 '강동구 구천면로 427',
 '강동구 명일로10나길 28',
 '송파구 오금로31가길 13',
 '송파구 양재대로72길 8',
 '강동구 양재대로136길 24',
 '강동구 양재대로 1626',
 '송파구 동남로18길 45',
 '강동구 구천면로 278',
 '강동구 고덕로20길 15',
 '송파구 가락로39길 8',
 '송파구 동남로20길 9',
 '강동구 동남로67길 30',
 '송파구 오금로32길 50',
 '송파구 백제고분로 288',
 '송파구 백제고분로 169',
 '송파구 도곡로64길 8',
 '송파구 가락로 61',
 '강동구 동남로81길 66',
 '송파구 백제고분로18길 26',
 '강동구 구천면로47가길 14',
 '송파구 거마로 7',
 '송파구 올림픽로 577',
 '강동구 동남로75길 13-25',
 '송파구 백제고분로48길 12-24',
 '송파구 오금로46길 37',
 '송파구 백제고분로9길 10',
 '송파구 거마로 83',
 '송파구 토성로19길 7',
 '송파구 가락로28길 11',
 '송파구 성내천로 254',
 '송파구 위례성대로22길 8',
 '송파구 마천로 31',
 '송파구 거마로 74',
 '송파구 성내천로8길 3',
 '강동구 구천면로42길 28',
 '강동구 구천면로62길 24',
 '송파구 동남로20길 22',
 '송파구 송파대로 370',
 '송파구 백제고분로32길 7',
 '강동구 올림픽로112길 92',
 '강동구 고덕로 81',
 '송파구 성내천로 230',
 '송파구 양재대로',
 '송파구 오금로 235',
 '송파구 백제고분로50길 42',
 '강동구 명일로 165',
 '강동구 명일로16길 25',
 '송파구 백제고분로32길 12',
 '강동구 양재대로 1478',
 '강동구 양재대로116길 41',
 '송파구 백제고분로32길 17',
 '강동구 상암로 214',
 '송파구 오금로 519',
 '강동구 상암로 214',
 '송파구 백제고분로 395',
 '송파구 마천로5길 4',
 '송파구 강동대로3길 23',
 '강동구 천중로15길 20',
 '강동구 천호대로176길 33',
 '송파구 올림픽로4길 48',
 '강동구 고덕로62길 27',
 '강동구 구천면로 355',
 '강동구 고덕로 254',
 '송파구 토성로 38-6',
 '강동구 암사길 34',
 '송파구 양재대로 1222',
 '강동구 동남로71길 38',
 '강동구 천중로17길 59',
 '강동구 명일로 212',
 '강동구 양재대로 1383',
 '강동구 동남로81길 20',
 '강동구 올림픽로 630',
 '송파구 중대로9길 45',
 '강동구 명일로 210',
 '송파구 성내천로 261',
 '강동구 명일로 189',
 '송파구 오금로11길 7',
 '강동구 명일로 171',
 '송파구 양재대로62길 19',
 '송파구 가락로16길 3-12',
 '송파구 한가람로 448',
 '송파구 풍성로 41',
 '송파구 오금로57길 8',
 '송파구 오금로57길 8',
 '송파구 중대로25길 16',
 '강동구 동남로67길 22',
 '강동구 양재대로134길 51',
 '강동구 양재대로 1305',
 '송파구 양재대로71길 4-12',
 '송파구 중대로 202',
 '송파구 동남로 211',
 '송파구 위례성대로16길 11',
 '송파구 위례성대로18길 31-12',
 '송파구 삼전로 82',
 '송파구 백제고분로 465',
 '강동구 구천면로 504',
 '송파구 송이로23길 52-42',
 '강동구 동남로67길 52',
 '송파구 마천로7길 5',
 '강동구 동남로75길 13-7',
 '강동구 진황도로 162',
 '송파구 올림픽로35길 10',
 '송파구 동남로 202',
 '송파구 백제고분로21길 19',
 '송파구 동남로 202',
 '강동구 동남로75길 13-21',
 '송파구 동남로 189',
 '송파구 백제고분로46길 39',
 '송파구 중대로38길 26',
 '강동구 풍성로 130',
 '강동구 풍성로 247',
 '강동구 양재대로81길 39',
 '송파구 송파대로32길 8',
 '송파구 석촌호수로 106',
 '송파구 오금로 400',
 '강동구 구천면로 438',
 '송파구 동남로 329',
 '송파구 가락로 275',
 '송파구 토성로 58',
 '송파구 성내천로 208',
 '송파구 풍성로15길 10',
 '강동구 동남로71길 20',
 '송파구 올림픽로32길 22-23',
 '송파구 올림픽로 130',
 '송파구 송이로33길 19',
 '강동구 동남로71길 37',
 '송파구 송이로 4',
 '강동구 양재대로 1377',
 '송파구 올림픽로4길 17',
 '송파구 송이로 85',
 '송파구 송파대로 451',
 '송파구 송파대로 378',
 '강동구 고덕로62길 48',
 '송파구 오금로35길 44',
 '강동구 진황도로 206',
 '강동구 양재대로85길 15',
 '강동구 양재대로 1554',
 '송파구 마천로 20',
 '강동구 양재대로 1367',
 '강동구 천호대로199길 19',
 '송파구 올림픽로12길 60',
 '강동구 양재대로91길 62',
 '강동구 풍성로 135',
 '송파구 백제고분로28길 14',
 '송파구 새말로11길 5',
 '강동구 구천면로 498-1',
 '송파구 양재대로 1164',
 '강동구 성안로25길 9',
 '강동구 동남로71길 38',
 '송파구 백제고분로 235',
 '강동구 천호옛길 63',
 '강동구 고덕로 85',
 '강동구 동남로75길 13-15',
 '송파구 토성로 38-6',
 '송파구 백제고분로32길 10',
 '강동구 고덕로38길 47',
 '송파구 백제고분로27길 15',
 '강동구 천중로15가길 4',
 '강동구 양재대로128길 42',
 '송파구 마천로 41',
 '강동구 강동대로 155',
 '송파구 위례성대로 180',
 '강동구 동남로71길 24',
 '송파구 위례성대로20길 27',
 '송파구 백제고분로36길 28',
 '송파구 오금로 202',
 '강동구 양재대로 1313',
 '송파구 오금로46길 41',
 '송파구 송이로23길 52-42',
 '강서구 초록마을로 31',
 '양천구 월정로 155',
 '강서구 화곡로24길 47',
 '강서구 방화대로34길 80',
 '양천구 오목로 69',
 '강서구 등촌로39길 27',
 '양천구 화곡로 41',
 '강서구 강서로17길 130',
 '양천구 오목로 193',
 '양천구 중앙로29길 115',
 '강서구 초록마을로 36',
 '양천구 중앙로32길 55',
 '양천구 중앙로 269',
 '양천구 목동중앙남로4길 16',
 '양천구 오목로 136',
 '양천구 월정로29길 9-1',
 '강서구 방화대로7나길 46',
 '양천구 목동서로 400',
 '강서구 강서로45길 28',
 '양천구 오목로52길 9',
 '강서구 화곡로24길 34',
 '양천구 지양로3길 7',
 '양천구 가로공원로56길 40',
 '양천구 목동동로 130',
 '양천구 목동중앙본로 59',
 '양천구 지양로7길 1',
 '강서구 월정로 156',
 '양천구 목동중앙서로 22-1',
 '양천구 목동중앙남로10길 4',
 '양천구 목동중앙남로 28',
 '양천구 화곡로10길 6',
 '양천구 목동동로 130',
 '양천구 목동로 177',
 '양천구 목동서로 349',
 '강서구 곰달래로31길 15',
 '강서구 등촌로39길 24',
 '강서구 등촌로5길 83',
 '강서구 곰달래로53길 56',
 '강서구 강서로17가길 38',
 '양천구 지양로3길 9-1',
 '양천구 목동동로 130',
 '강서구 방화대로37길 35',
 '강서구 방화대로7나길 26',
 '강서구 가로공원로80길 53',
 '강서구 양천로66길 6',
 '양천구 남부순환로 340',
 '양천구 신목로5길 23',
 '강서구 강서로 303',
 '양천구 지양로 82',
 '양천구 오목로 41',
 '강서구 방화동로 68',
 '양천구 목동중앙본로 106',
 '양천구 목동중앙본로3길 10',
 '강서구 공항대로59다길 83',
 '양천구 신목로5길 13',
 '강서구 양천로71가길 22',
 '양천구 오목로 41',
 '양천구 목동중앙본로1길 47',
 '양천구 목동중앙로 135',
 '양천구 지양로 60',
 '양천구 오목로 7',
 '양천구 남부순환로 334',
 '강서구 등촌로39가길 42',
 '강서구 방화대로 294',
 '강서구 곰달래로 271',
 '양천구 월정로 46',
 '강서구 허준로 23',
 '강서구 월정로 156',
 '강서구 곰달래로 195',
 '강서구 강서로 213',
 '양천구 목동중앙로 73',
 '양천구 은행정로 55',
 '양천구 목동중앙북로 33',
 '강서구 양천로14길 78',
 '양천구 목동동로 435',
 '강서구 공항대로 261',
 '강서구 초록마을로 33',
 '양천구 목동중앙본로 17',
 '강서구 곰달래로49길 41',
 '강서구 공항대로41길 43',
 '양천구 지양로 32',
 '양천구 오목로 75',
 '양천구 월정로29길 24',
 '강서구 양천로24길 54-31',
 '강서구 방화동로 20',
 '양천구 신월로 105',
 '강서구 양천로14길 52',
 '강서구 강서로 183',
 '양천구 등촌로 16',
 '강서구 공항대로41길 44',
 '강서구 강서로62길 98',
 '양천구 신목로 7',
 '양천구 은행정로 5',
 '강서구 양천로14길 37',
 '양천구 목동동로12길 20',
 '강서구 강서로 381-7',
 '강서구 월정로30길 99',
 '양천구 목동서로2길 20',
 '양천구 신월로 333',
 '강서구 공항대로41길 66',
 '양천구 오목로 177',
 '양천구 목동서로 349',
 '강서구 강서로 186',
 '양천구 오목로 79',
 '양천구 목동남로4길 38',
 '강서구 양천로60길 60',
 '양천구 목동동로 206',
 '양천구 목동남로4길 6-23',
 '양천구 중앙로51길 65',
 '양천구 남부순환로40길 65',
 '양천구 오목로 280',
 '강서구 방화대로50길 7',
 '양천구 목동중앙본로 70',
 '강서구 강서로 304',
 '강서구 공항대로41길 50',
 '양천구 오목로 328',
 '양천구 목동동로 435',
 '강서구 강서로45길 28',
 '강서구 강서로 494',
 '양천구 은행정로4길 14',
 '강서구 허준로 198',
 '양천구 목동중앙본로 36',
 '양천구 신정로 176',
 '양천구 목동서로2길 20',
 '양천구 신목로5길 15',
 '양천구 목동서로 100',
 '양천구 오목로42길 5',
 '강서구 강서로45길 29',
 '양천구 목동동로 431',
 '양천구 남부순환로 584',
 '양천구 목동동로8길 9',
 '양천구 목동남로4길 6-23',
 '양천구 월정로 145',
 '강서구 강서로 202',
 '강서구 초록마을로6길 52',
 '양천구 중앙로32길 61',
 '양천구 목동서로 77',
 '양천구 목동동로 435',
 '강서구 강서로 392-11',
 '양천구 중앙로27길 24',
 '양천구 중앙로32길 67',
 '양천구 등촌로 180',
 '양천구 신정로11길 64',
 '강서구 허준로 198',
 '강서구 양천로14길 24',
 '양천구 목동서로 35',
 '강서구 방화대로34길 96',
 '양천구 지양로 46',
 '양천구 목동서로 67',
 '양천구 목동서로 70',
 '양천구 중앙로 228',
 '양천구 목동남로4길 80',
 '강서구 양천로 111',
 '양천구 남부순환로 605',
 '양천구 등촌로 218',
 '양천구 신목로2길 66',
 '강서구 양천로69길 19',
 '양천구 목동동로8길 25',
 '강서구 양천로 583',
 '강서구 가로공원로76가길 9',
 '강서구 양천로14길 74',
 '서초구 방배로 211',
 '서초구 신반포로 31',
 '서초구 반포대로 93',
 '강남구 선릉로 328',
 '서초구 신반포로 165',
 '서초구 신반포로 27-12',
 '강남구 삼성로 212',
 '강남구 선릉로 665',
 '강남구 언주로172길 12',
 '강남구 학동로 513',
 ...]

In [10]:
# 결측치 처리 확인
academy.isnull().sum()

행정구역명         0
학원/교습소        0
학원명           0
도로명주소         0
도로명상세주소       0
분야명           0
교습계열명         0
교습과정명         0
정원합계          0
일시수용능력인원합계    0
인당수강료내용       0
기숙사학원여부       0
등록일자          0
휴원시작일자        0
휴원종료일자        0
개설일자          0
dtype: int64

### Remove duplicates

In [11]:
academy.duplicated().sum() # 중복값 1개 확인

1

In [12]:
academy.shape # 중복값 제거 전 행,열 개수

(24984, 16)

In [13]:
academy.drop_duplicates(inplace=True) # 중복값 제거

In [14]:
academy.shape # 중복값 제거 후 행, 열 개수

(24983, 16)

### Outlier Handling

In [15]:
# 이상치 처리 전
academy.describe()

,정원합계,일시수용능력인원합계,등록일자,휴원시작일자,휴원종료일자,개설일자
count,2.498300e+04,2.498300e+04,2.498300e+04,2.498300e+04,2.498300e+04,2.498300e+04
mean,4.328286e+03,4.005378e+05,2.012343e+07,2.802403e+05,2.842947e+05,2.012455e+07
std,3.933769e+05,6.326707e+07,1.395984e+05,2.361351e+06,2.444597e+06,8.092310e+04
min,0.000000e+00,0.000000e+00,2.210707e+06,0.000000e+00,0.000000e+00,1.953052e+07
25%,1.900000e+01,6.000000e+00,2.008121e+07,0.000000e+00,0.000000e+00,2.009011e+07
50%,4.700000e+01,4.200000e+01,2.014122e+07,0.000000e+00,0.000000e+00,2.014122e+07
75%,1.250000e+02,7.800000e+01,2.019010e+07,0.000000e+00,0.000000e+00,2.019011e+07
max,5.771500e+07,1.000000e+10,2.106091e+07,2.022012e+07,1.000000e+08,2.022032e+07

In [16]:
academy['휴원종료일자'].unique() # 이상치 99999999

array([       0., 20110828., 20210115., 20101028., 20180105., 20150515.,
       20140505., 20140805., 20130406., 20170801., 20141231., 20201025.,
       20160103., 20180713., 20190203., 20181207., 20111223., 20180613.,
       20170123., 20111231., 20200430., 20210131., 20200419., 20200415.,
       20200322., 20200426., 20200405., 20200313., 20201231., 20170430.,
       20200417., 20181118., 20141206., 20161008., 20111215., 20110316.,
       20200731., 20210516., 20170315., 20200403., 20161231., 20140916.,
       20200228., 20150430., 20121231., 20160429., 20210830., 20211130.,
       20141116., 20130912., 20110424., 20141012., 99999999., 20140803.,
       20110831., 20200327., 20150228., 20180707., 20210228., 20120415.,
       20160831., 20120513., 20180921., 20110925., 20211004., 20140416.,
       20150821., 20210205., 20151212., 20200910., 20200420., 20200505.,
       20141121., 20120812., 20180831., 20210811., 20200830., 20170501.,
       20180720., 20150823., 20120701., 20131231., 20130101., 20150222.,
       20141230., 20210611., 20180722., 20220112., 20111127., 20140630.,
       20131230., 20150601., 20210920., 20220901., 20190905., 20181231.,
       20150301., 20110306., 20150925., 20200229., 20150305., 20131110.,
       20180714., 20170901., 20200331., 20150802., 20110713., 20151008.,
       20111204., 20130705., 20200406., 20160829., 20161016., 20190305.,
       20150630., 20170413., 20130731., 20120108., 20170508., 20210214.,
       20160930., 20170131., 20170604., 20121011., 20160717., 20190304.,
       20210630., 20140501., 20170630., 20210615., 20140918., 20200913.,
       20180502., 20181004., 20190120., 20200730., 20210308., 20130922.,
       20200101., 20210103., 20160508., 20210813., 20210711., 20201213.,
       20180315., 20200414., 20210124., 20211031., 20201223., 20160610.,
       20210331., 20160410., 20200308., 20170325., 20170509., 20171201.,
       20181114., 20181130., 20180301., 20190428., 20200326., 20170129.,
       20190303., 20190524., 20190801., 20220430., 20150510., 20161204.,
       20170307., 20170228., 20200315., 20200324., 20200329., 20160424.,
       20171124., 20210831., 20150731., 20160731., 20190908., 20161013.,
       20171010., 20181005., 20181003., 20201130., 20190106., 20180228.,
       20190430., 20161215., 20191015., 20170601., 20171031., 20200510.,
       20191230., 20191226., 20180826., 20200413., 20221231., 20180628.,
       20180610., 20191128., 20200520., 20180928., 20220131., 20200325.,
       20220228., 20190407., 20190425., 20201119., 20211019., 20200408.,
       20210430., 20191111., 20211014., 20210530., 20211110., 20200404.,
       20191012., 20211121., 20190924., 20210922., 20200401., 20210601.,
       20201112., 20201020., 20210803., 20210428., 20201015., 20210130.,
       20210805., 20220103., 20211226., 20140401., 20131129., 20200831.,
       20201031., 20190131., 20100507., 20130719., 20151001., 20170928.,
       20150420., 20191206., 20120122., 20180531., 20140228., 20110214.,
       20120228., 20130909., 20191018.])

In [17]:
academy.query('휴원종료일자 == 99999999') # 이상치 포함 행 확인 / 휴원시작일자 0이므로 휴원종료일자도 0으로 대체

,행정구역명,학원/교습소,학원명,도로명주소,도로명상세주소,분야명,교습계열명,교습과정명,정원합계,일시수용능력인원합계,인당수강료내용,기숙사학원여부,등록일자,휴원시작일자,휴원종료일자,개설일자
2898,양천구,교습소,강해수학교습소,양천구 목동서로 77,현대월드타워 505호 (목동),입시.검정 및 보습,보통교과,보습,4,2.0,수학:443160/ 수학:531800,알수없음,20070328,0.0,99999999.0,20070328

In [18]:
# 휴원종료일자 이상치 99999999를 0으로 대체 (해당 행 휴원시작일자 = 0)
academy['휴원종료일자'] = academy['휴원종료일자'].replace(99999999, 0) 

# 등록일자 오타 수정
academy['등록일자'] = academy['등록일자'].replace(21060906, 20160906) 
academy['등록일자'] = academy['등록일자'].replace(2210707, 20210707)

In [19]:
academy.select_dtypes('object').describe() # 이상치 없음

,행정구역명,학원/교습소,학원명,도로명주소,도로명상세주소,분야명,교습계열명,교습과정명,인당수강료내용,기숙사학원여부
count,24983,24983,24983,24983,24983,24983,24983,24983,24983,24983
unique,25,2,22982,13019,19079,11,20,109,4403,3
top,강남구,학원,오하운폴댄스학원,양천구 목동서로 77,/ 2층 (대치동),입시.검정 및 보습,보통교과,보습,알수없음,N
freq,3426,14642,9,142,87,13536,13426,11086,20414,23051

In [20]:
# 이?미용 -> 이·미용, 보습?논술 -> 보습·논술 / 데이터 출처 찾아서 ?를 ·로 수정
academy['교습과정명'] = academy['교습과정명'].str.replace('?', '·') 
academy['교습계열명'] = academy['교습계열명'].str.replace('?', '·')

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_6236\2478664403.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  academy['교습과정명'] = academy['교습과정명'].str.replace('?', '·')
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_6236\2478664403.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  academy['교습계열명'] = academy['교습계열명'].str.replace('?', '·')

In [21]:
# 일시수용능력인원합계 9999명 이상을 이상치로 보고 0으로 처리 / 9999명 이상 학원/교습소들은 온라인, 원격으로 수업or병행 진행
c1 = academy['일시수용능력인원합계'] < 9999
academy['일시수용능력인원합계'] = academy['일시수용능력인원합계'].where(c1, 0)

# 정원합계 50000명 이상을 이상치로 보고 해당 행 삭제(50000명 이상인 학원/교습소 = 원격, 온라인 학원)
c2 = academy['정원합계'] < 50000
academy['정원합계'] = academy['정원합계'].where(c2, np.nan)
academy = academy.dropna()

# 이상치 처리 후
academy.describe()

,정원합계,일시수용능력인원합계,등록일자,휴원시작일자,휴원종료일자,개설일자
count,24939.000000,24939.000000,2.493900e+04,2.493900e+04,2.493900e+04,2.493900e+04
mean,247.579414,56.769437,2.012406e+07,2.807347e+05,2.807865e+05,2.012450e+07
std,1390.632880,87.895622,8.131842e+04,2.363404e+06,2.363838e+06,8.094829e+04
min,0.000000,0.000000,1.953052e+07,0.000000e+00,0.000000e+00,1.953052e+07
25%,19.000000,6.000000,2.008121e+07,0.000000e+00,0.000000e+00,2.009011e+07
50%,46.000000,42.000000,2.014122e+07,0.000000e+00,0.000000e+00,2.014122e+07
75%,124.000000,77.000000,2.019010e+07,0.000000e+00,0.000000e+00,2.019011e+07
max,49672.000000,4000.000000,2.022032e+07,2.022012e+07,2.022123e+07,2.022032e+07

In [22]:
# 등록일자, 개설일자 Dtype object에서 datetime으로 변경
academy['등록일자'] = pd.to_datetime(academy['등록일자'], format='%Y%m%d')
academy['개설일자'] = pd.to_datetime(academy['개설일자'], format='%Y%m%d')

In [23]:
# Dtype 변경 후
academy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24939 entries, 0 to 25605
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정구역명       24939 non-null  object
 1   학원/교습소      24939 non-null  object
 2   학원명         24939 non-null  object
 3   도로명주소       24939 non-null  object
 4   도로명상세주소     24939 non-null  object
 5   분야명         24939 non-null  object
 6   교습계열명       24939 non-null  object
 7   교습과정명       24939 non-null  object
 8   정원합계        24939 non-null  float64
 9   일시수용능력인원합계  24939 non-null  float64
 10  인당수강료내용     24939 non-null  object
 11  기숙사학원여부     24939 non-null  object
 12  등록일자        24939 non-null  datetime64[ns]
 13  휴원시작일자      24939 non-null  float64
 14  휴원종료일자      24939 non-null  float64
 15  개설일자        24939 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(4), object(10)
memory usage: 3.2+ MB

In [24]:
# 전처리와 이상치 처리 후 인덱스 번호 재설정
academy.reset_index(drop=True, inplace=True)

### Analyze
데이터 분석(상관 관계, 추세, 변동 등)

#### 1. 서울시 자치구별 학원, 교습소 수

In [25]:
# '학원/교습소' column에서 학원과 교습소로 데이터 구분
edu_institute_01 = academy[academy['학원/교습소'] == '학원'] # = academy.groupby('학원/교습소').get_group('학원')
edu_institute_02 = academy[academy['학원/교습소'] != '학원'] # = cademy.groupby('학원/교습소').get_group('교습소')

# column 이름 재설정
edu_institute_01 = edu_institute_01.rename(columns={'학원/교습소':'학원'})
edu_institute_01 = edu_institute_01.rename(columns={'정원합계':'학원 정원합계'})
edu_institute_02 = edu_institute_02.rename(columns={'학원/교습소':'교습소'})
edu_institute_02 = edu_institute_02.rename(columns={'정원합계':'교습소 정원합계'})

In [26]:
academy_df1 = edu_institute_01.groupby('행정구역명')[['학원']].count() # 자치구별 학원 수
academy_df2 = edu_institute_02.groupby('행정구역명')[['교습소']].count() # 자치구별 교습소 수
df1 = pd.concat([academy_df1,academy_df2],axis=1).sort_values(by='학원', ascending=False) ; df1
# 상위 4개 학원 교습소 밀집 자치구 = 강남구, 서초구, 송파구, 양천구

         학원   교습소
행정구역명
강남구    2460   957
서초구    1168   673
송파구    1144   760
양천구    1084  1040
노원구     760   673
강서구     733   574
강동구     710   539
마포구     688   415
은평구     544   520
동작구     526   399
성북구     489   466
관악구     480   296
영등포구    459   342
광진구     454   317
구로구     396   351
동대문구    384   241
서대문구    368   342
도봉구     317   294
성동구     287   237
중랑구     266   280
강북구     225   211
금천구     214   147
종로구     204    98
용산구     142   115
중구       96    54

#### 2. 서울시 자치구별 학원, 교습소 정원 수(온라인, 원격 학원/교습소 포함)

- 학원 학생 수 1위인 강남구는 학원 수도 1위이다. 그러나 두 번째로 학원 학생 수가 많은 동작구는 학원 수 순위 10위이다.

In [ ]:
# 자치구별 학원과 교습소 학생 수 합계
academy_df3 = edu_institute_01.groupby('행정구역명')[['학원 정원합계']].sum()
academy_df4 = edu_institute_02.groupby('행정구역명')[['교습소 정원합계']].sum()
# 학원 정원합계를 기준으로 내림차순 정렬
df2 = pd.concat([academy_df3,academy_df4],axis=1).sort_values(by='학원 정원합계', ascending=False) ; df2

#### 3. 서울시 학군별 학원/교습소 & 학교 수

In [ ]:
# column = 자치구, 학원/교습소, 학원학생수 인덱싱하여 edu_df 생성
col01 = {'자치구': 학원교습소정보['자치구'],
       '학원/교습소': 학원교습소정보['학원/교습소'],
        '학원학생수': 학원교습소정보['정원합계']}
edu_df01 = pd.DataFrame(col01) ; edu_df01

In [ ]:
# column = 자치구, 학교종류명 인덱싱하여 school_df 생성
col02 = {'자치구': 학교기본정보['행정구역명'],
       '학교종류명': 학교기본정보['학교종류명']}
school_df = pd.DataFrame(col02) ; school_df

In [ ]:
# edu_df 자치구별 해당하는 학군열 추가
school_district_lst = ['1학군', '2학군', '3학군', '4학군','5학군', '6학군', '7학군', '8학군', '9학군', '10학군', '11학군']
gu_lst = [['동대문구', '중랑구'], ['마포구', '서대문구', '은평구'], ['구로구', '금천구', '영등포구'], ['노원구', '도봉구'], 
                ['용산구', '종로구', '중구'], ['강동구', '송파구'], ['강서구', '양천구'], ['강남구', '서초구'], ['관악구', '동작구'], 
                ['광진구', '성동구'], '강북구', '성북구']
col = edu_df01['자치구']

for i in range(11):
    globals()['edu_district_'+str(i+1)] = edu_df01.query("@col in @gu_lst[@i]")
    

edu_data_lst = [edu_district_1, edu_district_2, edu_district_3, edu_district_4, edu_district_5, edu_district_6, 
            edu_district_7, edu_district_8, edu_district_9, edu_district_10, edu_district_11]


for k, v in zip(edu_data_lst, school_district_lst):
    k.insert(0, '학군명', np.full([len(k['자치구'])], v))
    
    
edu_district01 = pd.concat([edu_district_1, edu_district_2, edu_district_3,  edu_district_4,  edu_district_5, 
                          edu_district_6, edu_district_7, edu_district_8, edu_district_9, edu_district_10, edu_district_11])
edu_district01

In [ ]:
# school_df 자치구별 해당하는 학군열 추가
col = school_df['자치구']

for i in range(11):
    globals()['school_district_'+str(i+1)] = school_df.query("@col in @gu_lst[@i]")


school_data_lst = [school_district_1, school_district_2, school_district_3, school_district_4, school_district_5, school_district_6, 
            school_district_7, school_district_8, school_district_9, school_district_10, school_district_11]


for k, v in zip(school_data_lst, school_district_lst):
    k.insert(0, '학군명', np.full([len(k['자치구'])], v))
    
    
school_district = pd.concat([school_district_1, school_district_2, school_district_3, school_district_4, school_district_5, 
                             school_district_6, school_district_7, school_district_8, school_district_9, school_district_10, 
                             school_district_11])
school_district

In [ ]:
# 학군별 학원/교습소 수 & 학원학생수
my_dict = {'학원/교습소':'count',
           '학원학생수': 'sum'}
edu_district01 = edu_district01.groupby(['학군명']).agg(my_dict) ; edu_district01

In [ ]:
# 학군별 학교 수
school_district = school_district.groupby('학군명')[['학교종류명']].count() ; school_district

In [ ]:
# column 이름 변경(학교종류명 > 학교수)
school_district.rename(columns={'학교종류명':'학교수'}, inplace=True)

In [ ]:
# 학군별 학원/교습소 수와 학교수 merge
edu_school = edu_district01[['학원/교습소']].merge(school_district, on='학군명') ; edu_school

#### 4. 서울시 학군별 학원/교습소 학생 수 & 학교 학생 수

- 학군별 학교 학생 수

In [ ]:
# 유치원~고등학교 학생 수 합한 열 생성
school_cnt['합계'] = school_cnt['유치원']+school_cnt['초등학교']+school_cnt['중학교']+school_cnt['고등학교']

# school_cnt 데이터프레임에서 '지역', '합계'열 인덱싱하고 ' 합계'열을 기준으로 내림차순 정렬하여 sch_cnt 데이터프레임 생성
sch_cnt = school_cnt[['지역', '합계']].sort_values(by='합계', ascending=False).reset_index(drop=True)

# 열 이름 변경
sch_cnt.rename(columns = {'지역':'자치구', '합계':'학교학생수'}, inplace=True)

# sch_cnt 자치구별 해당하는 학군열 추가
col = sch_cnt['자치구']

for i in range(11):
    globals()['school_district_'+str(i+1)] = sch_cnt.query("@col in @gu_lst[@i]")


school_data_lst = [school_district_1, school_district_2, school_district_3, school_district_4, school_district_5, school_district_6, 
            school_district_7, school_district_8, school_district_9, school_district_10, school_district_11]


for k, v in zip(school_data_lst, school_district_lst):
    k.insert(0, '학군명', np.full([len(k['자치구'])], v))
    
    
sch_district = pd.concat([school_district_1, school_district_2, school_district_3, school_district_4, school_district_5, 
                             school_district_6, school_district_7, school_district_8, school_district_9, school_district_10, 
                             school_district_11])
sch_district

In [ ]:
# 학군별 학교학생수
sch_district = sch_district.groupby('학군명')[['학교학생수']].sum() ; sch_district

- 학군별 학원 학생 수 (온라인, 원격 학원 제외)

In [ ]:
# 원격, 온라인 학원 제외
학원교습소정보 = 학원교습소정보[~학원교습소정보['학원명'].str.contains('온라인')] # 온라인 in 학원명 행 제거 
학원교습소정보 = 학원교습소정보[~학원교습소정보['학원명'].str.contains('원격')] # 원격 in 학원명 행 제거
학원교습소정보 = 학원교습소정보.rename(columns = {'정원합계':'학원/교습소학생수'}) # 열 이름 변경

In [ ]:
# column = '자치구', '학원학생수' 인덱싱하여 edu_df2 데이터프레임 생성
edu_df02 = 학원교습소정보[['자치구', '학원/교습소학생수']]

# edu_df2 자치구별 해당하는 학군열 추가
col = edu_df02['자치구']

for i in range(11):
    globals()['edu_district_'+str(i+1)] = edu_df02.query("@col in @gu_lst[@i]")
    

edu_data_lst = [edu_district_1, edu_district_2, edu_district_3, edu_district_4, edu_district_5, edu_district_6, 
            edu_district_7, edu_district_8, edu_district_9, edu_district_10, edu_district_11]


for k, v in zip(edu_data_lst, school_district_lst):
    k.insert(0, '학군명', np.full([len(k['자치구'])], v))
    
    
edu_district02 = pd.concat([edu_district_1, edu_district_2, edu_district_3,  edu_district_4,  edu_district_5, 
                          edu_district_6, edu_district_7, edu_district_8, edu_district_9, edu_district_10, edu_district_11])
edu_district02

In [ ]:
# 학군별 학원학생수(온라인, 원격 제외)
edu_district02 = edu_district02.groupby('학군명')[['학원/교습소학생수']].sum() ; edu_district02

In [ ]:
# sch_deu = 학군별 학교학생수 & 학원학생수(온라인,원격 제외)
# merge / '학원학생수' 열을 기준으로 내림차순 정렬
sch_edu = sch_district[['학교학생수']].merge(edu_district02, on='학군명')
sch_edu.sort_values(by='학원/교습소학생수', ascending=False, inplace=True) ; sch_edu 

# 8학군 소재 학교에 다니는 학생보다 학원/교습소에 다니는 학생 수가 많음을 확인

### Visualize
분석 과정 또는 결과 시각화

#### 1. 서울시 자치구별 학원/교습소 수 시각화

In [ ]:
# 서울시 자치구별 학원/교습소 수 시각화
plt.figure(figsize=(12, 15))
academy.groupby('행정구역명')['학원/교습소'].count().sort_values().plot(kind='barh', color='royalblue')

plt.yticks(fontsize=12)
plt.title('서울시 자치구별 학원/교습소 수')
plt.xlabel('학원/교습소 수')
plt.show()

- 서울시 자치구별 학원/교습소 수 지도 시각화 01

In [ ]:
import requests
import json

# 서울 행정구역 json raw파일(githubcontent)
r = requests.get('https://raw.githubusercontent.com/southkorea/seoul-maps/master/kostat/2013/json/seoul_municipalities_geo_simple.json')
c = r.content
seoul_geo = json.loads(c)

map = folium.Map(
    location=[37.559819, 126.963895],
    zoom_start=11,
    tiles='cartodbpositron'
)

folium.GeoJson(
    seoul_geo,
    name='지역구'
).add_to(map)

academy_group_data = academy.groupby('행정구역명')['학원/교습소'].count().sort_values()

map.choropleth(geo_data=seoul_geo,
             data=academy_group_data, 
             fill_color='YlOrRd',
             fill_opacity=0.5,
             line_opacity=0.2,
             key_on='properties.name',
             legend_name="서울시 자치구별 학원/교습소 수"
            )

map

- 서울시 자치구별 학원/교습소 수 지도 시각화 02

In [ ]:
academy_df = pd.DataFrame(academy_group_data).reset_index()
academy_df = academy_df.rename(columns={'행정구역명':'name'})

In [ ]:
#geometry_gj = json.load(open('HangJeongDong_ver20220309.geojson', encoding='utf-8'))
r = requests.get('https://raw.githubusercontent.com/southkorea/seoul-maps/master/kostat/2013/json/seoul_municipalities_geo_simple.json')
c = r.content
seoul_geo = json.loads(c)

fig = px.choropleth(academy_df, geojson=seoul_geo, locations='name', color='학원/교습소',
                                color_continuous_scale='Blues',
                                featureidkey='properties.name')
fig.update_geos(fitbounds="locations", visible=False)
fig.update_layout(title_text='서울시 자치구별 학원/교습소 수', title_font_size=20)

#### 2. 서울시 학군별 학원/교습소 & 학교 수 시각화

In [ ]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots

# Create figure with secondary y-axis
fig = make_subplots(specs=[[{"secondary_y": True}]])

# Add traces
fig.add_trace(
    go.Scatter(x=edu_district01.index, y=edu_district01['학원/교습소'], name="학원/교습소 수"),
    secondary_y=False,
)

fig.add_trace(
    go.Scatter(x=school_district.index, y=school_district['학교수'], name="학교 수"),
    secondary_y=True,
)

# Add figure title
fig.update_layout(
    title_text="서울시 학군별 학원/교습소 & 학교 수"
)

# Set x-axis title
fig.update_xaxes(title_text="학군명")

# Set y-axes titles
fig.update_yaxes(title_text="학원/교습소 수", secondary_y=False)
fig.update_yaxes(title_text="학교 수", secondary_y=True)

fig.show()

In [ ]:
# 학군별 학원/교습소 수와 학교 수 상관관계 그래프
sns.jointplot(x='학원/교습소', y='학교수', kind='reg', height=10, data=edu_school)
# 시각화 결과 양의 상관관계를 가짐을 알 수 있음
# 학원/교습소 수 약 2,500 부터는 신뢰구간이 넓어짐

In [ ]:
# heatmap
plt.subplots(figsize=(5,5))
sns.heatmap(edu_school.corr(), annot=True, fmt='0.2f', cmap="RdYlGn", linewidths=0.2)
# 학원/교습소 수와 학교 수 상관계수 0.65

#### 3. 학군별 학원/교습소 학생 수(온라인, 원격 제외) & 학교 학생 수 시각화

In [ ]:
# 학군별 학원/교습소 학생 수 / 학교 학생 수 비율 시각화
import plotly.express as px

sch_edu['비율'] = sch_edu['학원/교습소학생수'] / sch_edu['학교학생수']

fig = px.line(sch_edu, x=sch_edu.index, y='비율', title='학군별 학원/교습소 학생 수 / 학교 학생 수 비율')
fig.show()
# 8, 9 학군이 학교 학생 수 대비 학원/교습소 학생 수가 많음
# 비율이 제일 큰 9학군은 학교 학생 수보다 학원 학생 수가 타 학군 대비 상대적으로 많음을 유추할 수 있음

In [ ]:
# 이중 Y축 선 그래프로 시각화
fig = make_subplots(specs=[[{"secondary_y": True}]])

fig.add_trace(
    go.Scatter(x=sch_edu.index, y=sch_edu['학교학생수'], name="학교 학생 수"),
    secondary_y=False,
)

fig.add_trace(
    go.Scatter(x=sch_edu.index, y=sch_edu['학원/교습소학생수'], name="학원/교습소 학생 수"),
    secondary_y=True,
)

fig.update_layout(
    title_text="서울시 학군별 학원/교습소 & 학교 학생 수"
)

fig.update_xaxes(title_text="학군명")

fig.update_yaxes(title_text="학원/교습소 학생 수", secondary_y=False)
fig.update_yaxes(title_text="학교 학생 수", secondary_y=True)

fig.show()

# 8, 9학군이 타 학군에 비해 학원/교습소 학생 수가 압도적으로 많음 > 타 학군 소재 학교 학생들이 8, 9 학군 소재 학원에 등원함을 유추
# 위 비율 시각화에서 유추한대로 9학군은 학교 학생 수보다 학원/교습소 학생 수가 타 학군 대비 상대적으로 많음을 볼 수 있음

In [ ]:
# 학군별 학원/교습소 힉생 수와 학교 학생 수 상관관계 그래프
sns.jointplot(x='학교학생수', y='학원/교습소학생수', kind='reg', height=10, data=sch_edu)
# 양의 상관관계를 보이나 전반적으로 신뢰구간이 넓음

In [ ]:
# 학교 학생 수와 학원/교습소 학생 수의 상관계수 0.33
plt.subplots(figsize=(5,5))
sns.heatmap(sch_edu[['학교학생수', '학원/교습소학생수']].corr(), annot=True, fmt='0.2f', cmap="RdYlGn", linewidths=0.2)